* {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    margin: 0;
    position: fixed;
    background-color: rgb(252, 198, 198);
    width: 100%;
    z-index: 10;
    border-style: inset;
    border-left: 0;
    border-top: 0;
    border-bottom: 20px;
    border-color: rgb(253, 192, 192);
}

.logo img {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    filter: drop-shadow(1px 1px 0.1px rgb(0, 0, 0));
}

.header a {
    color: aliceblue;
    text-decoration: none;
}

.logo-nav-container {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
}

.MenuNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.MenuNav ul li {
    display: inline-block;
}

.MenuNav ul li a {
    display: block;
    padding: 0.7rem 1.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    background-color: rgb(255, 175, 175);
    font-size: 16px;
    font-weight: bold;
}

.menu li a:hover {
    background: rgb(255, 130, 130);
    border-radius: 4px;
}

main {
    padding-top: 12rem;
}

.portada1I {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 198, 198);
    margin-top: 0;
}

.seccion2 img {
    width: 120px;
    height: 95px;
    float: right;
    margin-right: 140px;
    border-radius: 100px;
}

#galeria5 {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.5px;
    max-width: 75px;
    min-width: 90px;
    padding: 10px;
    top: 100%;
    left: 100%;
    transform: translate(500%, 0%);
}

#galeria5 img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    cursor: pointer;
}

#img-activa {
    width: 100%;
    height: auto;
}

#contenedorPriGaleria5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
}

#contenedorSecGaleria5 {
    border: 1px #ff7676 solid;
    padding: 1px;
    background: #ffadad;
    max-width: 450px;
    min-height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #ff4f4f;
}

#btnCerrar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.5rem;
}

#btnRetroceder {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3.5rem;
}

#btnAdelantar {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3.5rem;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

#contenedorPrincipal {
    width: 70%;
    margin: auto;
    text-align: center;
}

.elemento img {
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    width: 180px;
    height: 180px;
    border-radius: 10px;

}

.elemento {
    padding: 10px;
    min-width: 105px;
    margin-left: 50px;
    margin-top: 1px;
}

#galeria {
    text-align: center;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px 20px;
}

.elemento:nth-child(4) {
    grid-row: 2/3;
    grid-column: 1/2;
}

.elemento:nth-child(5) {
    grid-row: 2/3;
    grid-column: 2/3;
}

.elemento:nth-child(6) {
    grid-row: 2/3;
    grid-column: 3/4;
}



/*--------------------------------------------------------------------------------------------------------------------------------------*/


#contenedorPrincipal2 {
    width: 90%;
    margin: auto;
    text-align: center;
}

.elemento2 img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.elemento2 {
    border: 2px solid rgb(48, 7, 12);
    background-color: rgb(251, 229, 229);
    border-radius: 10px;
    padding: 10px;
    min-width: 105px;
    margin-left: 50px;
    margin-top: 1px;
}

#catalogo {
    text-align: center;
    display: grid;
    grid-template-rows: 145px 145px 145px;
    grid-template-columns: 20% 20% 55%;
    grid-gap: 15px 15px;
}